/*複数のコンポーネントで共通利用*/
.myContainerMain {
    color:white;
    line-height: 170%;
    font-size: 100%;
    font-weight: 500;
    font-family: "游ゴシック", "YuGothic", "メイリオ", meiryo, sans-serif;
    width: 100%;
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    position: static;
    box-sizing: border-box;
    max-width: 1024px;
    border:none;
  }
  
  .myContainerMain h1{
    color:black;
    font-family: "游ゴシック", "YuGothic", "メイリオ", meiryo, sans-serif;
    font-weight: 500;
    font-size: 140%;
  }
  
  
  .myRed {
    color: red;
  }
  
  .myClickableIcon {
    cursor: pointer;
    font-weight: bold
  }
  
  .myCenterLayout {
    margin: 1rem auto 1rem auto;
  }
  
  .myFlexGrow {
    flex-grow: 1;
  }
  
  .myFullWidth {
    width: 100%;
  }
  
  .my90Width {
    width: 90%;
  }
  
  .myTextCenter {
    text-align: center;
  }
  
  .myToolbar {
    position: fixed;
    top: 0;
    left: 0;
    height: 56px;
    width: 100%;
    z-index: 2;
    max-width: 640px;
  }
  
  .my1RemMargin {
    margin: 1rem auto 1rem auto;
  }
  
  .my2RemMargin {
    margin: 2rem auto 2rem auto;
  }
  
  .myTextLarge {
    font-size: 2rem;
    font-weight: bold;
  }
  
  .myBackButton {
    display: inline;
    font-size: 4rem;
    cursor: pointer;
    padding: 0;
  }
  
  
  